pipeline/FilterDemo.json
{
	"name": "FilterDemo",
	"properties": {
		"activities": [
			{
				"name": "LookupPlayer",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_player",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "FilterDemo",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "LookupPlayer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupPlayer').output",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(['Kohli'],item().Player)",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}