pipeline/readDataFromFiles.json
{
	"name": "readDataFromFiles",
	"properties": {
		"activities": [
			{
				"name": "Get MetadataReadfiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "adfpracread",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachReadData",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get MetadataReadfiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get MetadataReadfiles').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LookupReadData",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"dataset": {
									"referenceName": "adfpracread",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "logRunId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEachReadData",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunID",
					"value": {
						"value": "@pipeline().RunId",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"RunID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}